<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LMVideoManager.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C22772081F3B420400CEBA45</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C22772211F3B420400CEBA45</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C227722C1F3B420400CEBA45</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
